
<div #myDiv class="flex items-start gap-4">
  <div >
    <h3 class="text-lg/tight font-medium text-gray-900">Klikaj</h3>
    <p class="mt-0.5 text-gray-700">
      Wierszyk o wierszyku, co skacze po słowach,
      Raz tańczy w melodii, raz w rymu rozmowach.
      Jest krótki, lecz śmieszny, ma lekki swój krok,
      Czasami na żarty, a czasem na szok!

      Lubi być zwinny, jak wietrzyk po chmurach,
      Zagubisz się w nim, a on wciąż w humorach.
      Fajny ten wierszyk, bo bawi na cacy,
      I kręci w kółeczko, jak małe wakacje!
    </p>
  </div>
</div>
